.logo a {
  text-decoration: none;
  color: #0056b3;
  font-size: 36px;
  font-weight: 800;
  font-family: "Akatab", sans-serif;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
}

.button {
  display: flex;
  gap: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  width: auto;
  box-shadow: 0 1px 10px 0px rgba(0,0,64,0.25);
  padding: 12px 42px;
  font-family: "Roboto", sans-serif;
}

