.container {
  max-width: 1320px; /* Или ширина твоего макета, например 1140px */
  margin: 55px auto; /* Центрирует сам контейнер */
  // padding: 0 300px; /* Безопасные отступы по краям */
  //  width: 100%; - иногда нужно, чтобы не сжимался //
  display: grid;
  gap: 56px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.text {
  font-size: 24px;
  color: #696969;
  margin: 20px 0 0 0;
}
